.container .form-landing {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

.form-landing h2,
.form-landing label,
.form-landing input,
.form-landing button {
    margin: 10px 0px 5px 0px;
}

.container .register-link, 
.container .signup-link {
    float: right;
    margin-right: 5px;
}
